
			<footer class="footer">
				<div class="container-fluid">
					<nav class="pull-left">
						<ul class="nav">
							<li class="nav-item">
								<img src="/static/assets/img/logo.svg" alt="navbar brand" class="navbar-brand">
							</li>
						</ul>
					</nav>
					<!-- <div class="copyright ml-auto">
                        &copy; <a target="_blank" href="https://www.themekita.com">ThemeKita</a> 
                        - coded by <a target="_blank" href="https://appseed.us">AppSeed</a>
					</div>				 -->
				</div>
            </footer>
            