{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">CSV Upload</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="#">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Data Upload</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">CSV</a>
					</li>
				</ul>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="card-title">CSV Chart</div>
						</div>
						<div class="card-body">
							{% block messages %}
							{% if messages %}
							
							{% for message in messages %}
							<h2>{{message}}</h2>
							{% endfor%}
							
							{%endif%}
							
							{% endblock messages %}
							<div class="chart-container">
								<canvas id="pieChart" style="width: 50%; height: 50%"></canvas>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo2.js"></script>
<script>
	var myPieChart = new Chart(pieChart, {
	type: 'pie',
	data: {
	datasets: [{
	data: [50, 35, 15],
	backgroundColor :["#1d7af3","#f3545d","#fdaf4b"],
	borderWidth: 0
	}],
	labels: ['New Visitors', 'Subscribers', 'Active Users']
	},
	options : {
	responsive: true,
	maintainAspectRatio: false,
	legend: {
	position : 'bottom',
	labels : {
	fontColor: 'rgb(154, 154, 154)',
	fontSize: 11,
	usePointStyle : true,
	padding: 20
	}
	},
	pieceLabel: {
	render: 'percentage',
	fontColor: 'white',
	fontSize: 14,
	},
	tooltips: false,
	layout: {
	padding: {
	left: 20,
	right: 20,
	top: 20,
	bottom: 20
	}
	}
	}
	})
</script>
{% endblock javascripts %}	
